h1{
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif ;
}

#leftdiv{
    border: 1px solid red ;
    border-radius: 15px ;
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif ;
    padding: 10px;
    float: left;
}
#rightdiv{
    border: 1px dashed red;
    border-radius: 15px ;
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif ;
    float: right;
    padding: 10px;
}

#lastdiv{
    width: 100%;
    margin-top: 60%;
    margin-bottom: 20px;
    
    
}

h3{
    font-weight: 500 ;
}

li{
    font-weight: 300 ;
}

ol{
 
    
    list-style-position: inside;
}

ul{
    
    list-style: upper-roman;
    list-style-position: inside;
    
}

a:link{
    font-family: 'Oswald', Verdana, Arial, sans-serif ;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

